<h1> Mettre ici la première lettre du nom des VIPs </h1>
Cliquez sur une lettre : {{LettreVip.Lettre1}}


{{#each LettreVip}}

  <a href= "RefLettre/{{this.Lettre1}}">{{this.Lettre1}}</a>
  <img src="/images/vip/{{this.PHOTO_ADRESSE}}" alt="{{this.VIP_NOM}}">
{{/each}}
